@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background-color: powderblue;
    font-family:'Lato';
    margin:10px 124px 10px 70px;
}

.bordered {
    padding:2px;
    border:2px solid #6899e6;
    border-radius: 10px;
}

#topright {
    position:fixed;
    top:10px;
    right:10px;
}

#botright {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:10%;
    position:fixed;
    bottom:10px;
    right:10px;
}

#topleft {
    font-family:"Lucida Console", Monaco, monospace;
    position:fixed;
    top:10px;
    left:10px;
}

}
#sidle.slide {
  position: relative;
  width: 45%;
}
#sidle.slide img {
  position: absolute;
  width: 100%;
}
#sidle.slide img:hover {
  cursor: pointer;
}
#sidle.slide .full:hover {
  cursor: default ;
}
#sidle:not(.slide) {
  width: 98%;
  margin: 0 auto;
}
#sidle:not(.slide) img {
  width: 48%;
  display: inline-block;  
}
@media all and (max-width: 600px) {
	body {
		margin: 0;
	}
	#sidle.slide {
		width: 100%;
	}
  #sidle.slide img {
		position: static;
    width: 100% !important;
    display: inline-block; 
		-webkit-clip-path: none !important;
  } 
