@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background-color: powderblue;
    font-family:'Lato';
}

.bordered {
    padding:2px;
    border:2px solid #6899e6;
    border-radius: 5px;
}

#botright {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:10%;
    position:fixed;
    bottom:10px;
    right:10px;
}

#topleft {
    font-family:"Lucida Console", Monaco, monospace;
    position:fixed;
    top:10px;
    left:10px;
}
