.header {
    background-color: black;
    /*background-image: url("../assets/images/fire_header_wide.jpg");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*height: 10%;*/
    color: white;
}

.header-links {
    flex-direction: row;

    bottom: 0;
    position: relative;
}

.header-nav-button {
    align-content: start;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    border-radius: 5px;
}

.header-nav-button-selected {
    align-content: start;
    color: black;
    padding: 10px;
    margin: 10px;
    background-color: darkred;
    border-radius: 5px;
}

.header-image {
    max-width: 100%;
    object-fit: contain;
}

.footer {
    bottom: 0;
    position: relative;
    color: white;
}
